#painel-grupo{
    margin-top: 23px;
}
.titulo-depoimentos{
    background-color: blue;
    color: white;
    border-radius: 5px;
    text-align: center;
    height: 100px;
    padding-top: 34px;
    width: 100%;
}

.group-radio{
    width: 50%;
    display: inline-block;
}
.contato-select{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.group-radio .radio:first-child{
    margin-top: 0;
}